@import "../../node_modules/weathericons/sass/weather-icons.min.scss";

@import "colors";
@import "fonts";

@import "atoms/buttons";
@import "atoms/headings";
@import "atoms/spinner";
@import "atoms/toggler";

@import "molecules/geolocation";
@import "molecules/google-autocomplete";
@import "molecules/panels";
@import "molecules/todays-forecast-block";
@import "molecules/weekly-forecast-block";

@import "organisms/panel-main";

html {
    font-size: 8px; // Set 1 rem to 8px
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    @include main-font();
    background: linear-gradient(135deg, $color-orange-bg-start 0%, $color-orange-bg-end 100%);
    width: 100vw;
    height: 100%;
}

#react-container {
    height: 100%;
}

.app-wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;

    @media (max-width: 1000px) {
        display: block;
    }
}
