.panel--main {
    .panel__heading {
        margin-left: 8rem;
    }

    @media (max-width: 450px) {
        margin-left: 0;
        margin-right: 0;

        .button--return {
            left: 3rem;
        }

        .panel__heading {
            margin-left: 4rem;
        }

        .toggler {
            top: 10px;
        }
    }
}