.button--return {
    background-color: transparent;
    border: 0 none;
    background-image: url('../static/images/chevron_left.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 46px;
    width: 26px;
    display: inline-block;
    cursor: pointer;

    position: absolute;
    left: 6rem;
    top: 38px;
}
