.return {
    background-color: transparent;
    border: 0 none;
    font-size: 30px;
    color: $color-gray-text;
    padding: 0;
    display: inline-block;
    cursor: pointer;
    margin: 1px 4rem 0 0;
    float: left;
}
