.huge {
    font-weight: 400;
    font-size: 15rem;
    color: $color-orange-text;
}

h1, h2, h3, h4, h5, p {
    color: $color-gray-text;
}

h1 {
    font-weight: 800;
    font-size: 4.5rem;
    letter-spacing: -1px;
    margin: 0;
    display: inline-block;
}

h2 {
    font-size: 5rem;
    font-weight: 300;
}

h3 {
    font-size: 4rem;
    font-weight: 300;

    &:first-letter {
        text-transform: capitalize;
    }
}

p {
    font-size: 1.75rem;
}

